/* load the default Redmine stylesheet */
@import url('../../../stylesheets/application.css');

// @import "compass";
@import "../node_modules/compass-mixins-fixed/lib/compass";
@import "partials/fonts";
@import "partials/variables";
@import "partials/formalize";
// @import "partials/tables"; // en/disable for color-highlighting of rows

html {
  font-size: 16px;
}

body {
  font-weight: $font-weight-normal;
  font-family: $fontstack;
  font-size: inherit;
  line-height: 1.5;
  color: $gray-text;
  background: #fff;
}

h1, h2, h3, h4 {
  font-weight: 500;
  font-family: $fontstack;
}

a, a:link, a:visited {
  color: $color-primary;
  @include transition(color .4s);
  &:hover {
    text-decoration: none;
    color: lighten($color-primary, 25%);
  }
  th & {
    color: $gray-text;
  }
}

th {
  font-weight: 300;
}

code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: #fafafa;
  border: 1px solid #e2e2e2;
}

// Login Form
#login-form {
	border: none;
	background-color: #fff;
}

#login-form input[type="text"],
#login-form input[type="password"] {
	height: 30px;
}

// Top menu bar
#top-menu {
  background: lighten($gray-dark, 5%);
  height: auto;
  @include pie-clearfix;
  border-bottom: 1px solid lighten($gray-dark, 10%);

  background-image: url('../images/lab-logo.svg');
  background-repeat: no-repeat;
  background-position: 10px center;

  & > ul {
    margin-left: 100px;
  }

  li {
    padding: 0 10px;
    a {
      font-weight: normal;
      line-height: 2.5;
    }
  }
  #loggedas {
    line-height: 2.5;
  }
}

// Header
#header {
  height: auto;
  min-height: 4em;
  background: $gray-dark;
  padding: 14px 17px 0 17px;
  > h1,
  > h1:before {
    display: inline-block;
  }
  > h1 {
    margin: 0 20px 20px 9px;
  }
  > h1:before {
    // content: url('../images/logo.png');
    vertical-align: middle;
    margin: 0 29px 0 0;
  }
}

.controller-account #header {
	display: none;
}

#header h1 {
  display: flex;
  .current-project {
    order: 1;
  }
  .breadcrumbs {
    display: inline-block;
    order: 2;
    position: relative;
    top: 1.1rem;
    left: 1rem;

    a.root, a.ancestor {
      color: rgba($white, 0.5);
    }

    .separator:last-child {
      display: none;
    }
  }
}

// Search box
#quick-search {
  select {
    padding: 5px 15px 5px 5px;
    height: auto;
    margin-left: 8px;
  }
  input {
    background-color: #fff;
    border: none;
    color: $gray-text;
    padding: 0px 6px;
    height: 2.4em;
    margin-left: 4px;
    display: inline-block;
  }
  label {
    line-height: 2.1;
  }
  #q {
    height: 30px;
    border: none;
  }
}

// Project Select
.drdn-trigger {
	height: 30px !important;
}

.drdn-content {
	top: 32px;
}

.drdn-items>a {
	transition: none;
}

.drdn-items>a:hover {
	background-color: $color-primary;
	color: #fff !important;
	transition: none;
}

.drdn-items>*:focus {
	background-color: $color-primary;
	color: #fff !important;
}

// Menu
#main-menu {
  position: relative;
  left: 0;
  margin-right: 0;
  @include pie-clearfix;
  li {
    a {
      font-weight: 300;
      border-top: 3px solid $gray-dark;
      padding: 4px 15px 7px;
      @include transition(border-color .3s);
      &.selected,
      &:hover {
        border-top: 3px solid $color-primary;
        background: lighten($gray-dark, 10%);
      }
      &.selected {
        font-weight: 400;
        background: $gray-background;
        &:hover {
          background: $gray-background;
          color: $color-primary;
        }
      }
    }
  }

  li a.new-object:hover {
    background: lighten($gray-dark, 10%) !important;
  }
}

// New Object Tab
#main-menu li a.new-object {
	background-color: $color-primary;
	border-top: 3px solid $color-primary;
}

#main-menu li a.new-object:hover {
	background-color: #202020;
}

#main-menu .menu-children {
	border-right: 1px solid $gray-dark;
	border-bottom: 1px solid $gray-dark;
	border-left: 1px solid $gray-dark;
}

#main-menu .menu-children li a {
	border-top: none;
	&:hover {
		background-color: $color-primary;
	}
}


// Content
#main {
  @include pie-clearfix;
}
#content {
  width: 75%;
  padding: 15px 20px 10px;
  @include box-sizing(border-box);
  background-color: $gray-background;
}

#sidebar {
  width: 22%;
  background-color: $gray-background;
  padding-top: 20px;
  opacity: 0.5;
  transition: opacity 0.4s;

  &:hover {
    opacity: 1;
  }
  
  h3 {
    margin-top: 23px;
    text-transform: uppercase;
  }
}

div.issue, #content > .wiki {
  background: $white;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid transparent;
  border: none;
  padding: 3px 15px;
  position: relative;
}

#content > .wiki {
  margin-bottom: 2rem;
}

div.issue div.subject div div {
  padding-left: 0;
}

.subject h3 {
  font-size: 2rem;
  font-weight: $font-weight-bold;
  line-height: 2;
}

// Messages
#errorExplanation, div.flash, .nodata, .warning, .conflict {
  border: 1px solid;
  padding: 2px 4px 3px 30px;
}

// Update issue
#update {
  position: fixed;
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  overflow: auto;
  background: #FFF;
  padding: 10px 20px 15px;
  box-shadow: 0 0 40px rgba(black, .5);
  margin-left: -40%;
  left: 50%;
  top: 10%;
  z-index: 20;
  @media (min-width: 1000px) {
    margin-left: -400px;
  }
  .update-close {
    float: right;
    border: 1px solid $gray-text;
    line-height: 0.5;
    font-size: 25px;
    padding: 0 1px 6px;
    font-weight: 300;
    margin-right: -10px;
    cursor: pointer;
    @include transition(all .5s);
    &:hover {
      background-color: $gray-text;
      color: #fff;
    }
  }
  fieldset.tabular {
    legend {
      cursor: pointer;
      color: $color-primary;
      @include transition(color .5s);
      &:hover {
        color: lighten($color-primary, 25%);
      }
    }
    legend small,
    div,
    p {
      display: none;
    }
    &.show-children {
      legend small {
        display: inline;
      }
      div,
      p {
        display: block;
      }
    }
  }
}
input#issue_subject,
input#time_entry_comments,
.tabular textarea {
  width: 98.4%;
  max-width: 99%;
  padding: 0.5rem;
}
select#time_entry_activity_id {
  width: 95.7%;
}
#attachments_fields {
  span {
    white-space: initial;
  }
  input {
    width: 30%;
    & + input.description,
    & + label {
      width: 60%;
      @media (max-width: 700px) {
        display: block;
        margin-left: 0;
      }
    }
  }
}

// Cancel-Button in edit overlay
input[type="submit"] + a + a {
	font-size: 16px;
	padding: 0 15px;
	line-height: 2;
}

// Issue list
table.query-columns td.buttons input[type=button] {
  padding: 0;
}

.issues tbody {
  a:hover {
    color: $gray-text;
  }

  .id a {
    font-family: $fontstack-mono;
    font-size: 0.9rem;
    font-weight: 400;
    border: 1px solid;
    border-radius: 3px;
    color: rgba($gray-text, 0.75);
    display: block;
    line-height: 1.1rem;
    padding: 2px 6px 0;
    position: relative;
    top: 0px;

    &:hover {
      color: $color-primary;
    }
  }

  td.assigned_to a {
    display: inline-block;
    min-width: 3.125rem;
    border-radius: 0.81rem;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $color-primary-person;
    font-size: 0.8rem;
    color: $white;
    transition: all 0.3s;
    position: relative;
    top: -1px;

    &:hover {
      background-color: $gray-text;
    }
  }

  & td.priority {
    padding-top: 4px;

    &::first-line {
      font-size: 0.8rem;
      color: #fff;
    }
    &::before, &::after {
      content: '\00a0\00a0';
    }
  }

  .priority-5, .priority-6, .priority-7, .priority-lowest {
      td.subject::after {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-priority-5;
      position: relative;
      left: 7px;
      bottom: 1px;
    }
  }

  & .priority-default td.priority {
    &::first-line, &::before, &::after {
      background-color: $color-priority-default;
    }
  }

  & .priority-5 td.priority {
    &::first-line, &::before, &::after {
      background-color: $color-priority-5;
    }
  }
  & .priority-5 td.subject a {
    // color: $color-priority-5;
    &::after { background-color: $color-priority-5; }
  }

  & .priority-6 td.priority {
    &::first-line, &::before, &::after {
      background-color: $color-priority-6;
    }
  }
  & .priority-6 td.subject a {
    // color: $color-priority-6;
    &::after { background-color: $color-priority-6; }
  }

  & .priority-7 td.priority {
    &::first-line, &::before, &::after {
      background-color: $color-priority-7;
    }
  }
  & .priority-7 td.subject a {
    // color: $color-priority-7;
    &::after { background-color: $color-priority-7; }
  }

  & .priority-lowest td.priority {
    &::first-line, &::before, &::after {
      background-color: $color-priority-lowest;
      color: rgba($gray-text, 0.75);
    }
  }
  & .priority-lowest td.subject a {
    // color: darken($color-priority-lowest, 10%);
    &::after { background-color: $color-priority-lowest; }
  }
}

.odd:hover, .even:hover, .list tr:hover {
  background-color: rgba($color-primary, 0.1) !important;
}
.list .context-menu-selection:hover {
  color: $color-primary !important;
  a:not(.user) { color: $color-primary !important; }
}

#my-page .list td.checkbox + td.id {
  padding-left: 5px;
}

.issue-report td.name:first-child {
  padding-left: 5px;
}

// Options
#options .buttons > input[type='button'] {
  margin-bottom: 5px;
  width: 50px;
}

// Filters
select[multiple="multiple"] {
  height: auto !important;
}

.wiki h1 {
  font-size: 2em;
  font-weight: $font-weight-bold;
}

.wiki h2 {
  font-size: 1.6em;
  font-weight: $font-weight-bold;
}

.wiki h3 {
  border-bottom: none;
  font-size: 1.3em;
  font-weight: $font-weight-bold;
}

.wiki h4 {
  border-bottom: none;
  font-size: 1em;
  font-weight: $font-weight-bold;
}

// Table
table.list {
  background-color: white;

  .odd:not(:hover), .even:not(:hover) {
    background-color: transparent;
  }
  th {
    background-color: transparent;
    border-bottom: 1px solid $gray-light;
    padding: 15px 0;
    font-size: 0.9rem;
  }
  td {
    padding-top: 5px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba($gray-light, 0.7);
  }
  .checkbox input {
    position: relative;
    top: -2px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  tr.group td {
    background-color: $gray-background;
  }
  tr.group a.toggle-all {
    position: relative;
    top: 2px;
  }
}

// Update modal
#update {
  border-radius: 3px;

  input[name="commit"] {
    margin-bottom: 20px;
  }
}
.update-close {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  text-align: center;
  
  border: none !important;
  font-size: 18px !important;
  font-weight: $font-weight-bold !important;
  line-height: 16px !important;
  padding: 3px 0 0 !important;
}

// Contextual
#content > .contextual {
  position: relative;
  top: 0;
  right: 10px;
  z-index: 1;

  a.icon {
    display: inline-block;
    position: relative;
    margin-left: 0.5rem;
    border-radius: 3px;
    background-position: 5px 50%;
    transition: all 0.2s;
    
    padding: 7px 10px 5px 25px !important;

    &:hover {
      background-color: $color-primary;
      color: $white;
    }
  }
}
.next-prev-links {
  position: absolute;
  right: 20px;
  top: 10px;
}

// Tabs
#history .tabs, #content > .tabs {
  ul li a.selected {
    background-color: $gray-background !important;
    border-bottom-color: $gray-background !important;
  }
}

// Editor / jst
.jstTabs .tabs {
  a.tab-edit.selected {
    background-color: $gray-background;
  }
}
.jstEditor > .wiki-preview {
  padding: 0.5rem;
}

// History
#history {
	border: 0;

  .tab-content {
    padding: 0;
    border: 0;
  }

  div.thumbnails {
    margin-left: 0;
  }

  & > .tabs ul li a:not(.selected) {
    opacity: 0.5;
  }

  & > .tabs ul li a:not(.selected):hover {
    opacity: 1.0;
  }
}

div.journal {
  margin-bottom: 1rem;

  & ul.details {
    border-left: 3px solid $color-primary-light;
    margin-top: 0.5em;
    margin-bottom: 1em;
    list-style-type: square;
    padding-inline-start: 25px;
    font-size: 0.9em;
    line-height: 1.3;
  }

  &.has-notes {
    &.has-details {
      & > div {
        display: flex;
        flex-direction: column;
        position: relative;
      }

      & .contextual {
        position: absolute;
        right: 0;
        order: 2;
      }
      & > div > h4 {
        order: 1;
      }
      & .details {
        order: 5;
      }
      & .wiki {
        order: 4;
      }
      & .thumbnails {
        order: 3;
        border-left: 1em solid #CCC;
        margin: 0 0 1em;
        padding-left: 0.7em;
        position: relative;
      }
      & .thumbnails::before {
        content: '';
        height: 0;
        width: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid darkgrey;
        position: absolute;
        left: -0.5em;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    
    & .wiki p:first-of-type, 
    & .wiki blockquote:first-of-type {
      margin-block-start: 0;
      margin-block-end: 0.5em;
    }
  }
}

// Context Menu
#context-menu {
  border-radius: 3px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.4);

  ul {
    width: 13rem !important;
    border-radius: 3px !important;
  }
  ul li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  li.folder ul {
    left: calc(13rem - 2px) !important;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.4);
  }
}
#content > #context-menu {
  transform: translateY(-160px);
}

// Warnings
.warning, .nodata {
  background-color: darken($gray-background, 5%);
  color: darken($gray-background, 40%);
}

// Calendar
table.cal {
  td.today {
    background-color: rgba($color-primary, 0.2);
  }
  div.tooltip:hover span.tip {
    border-radius: 3px;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.4);
  }
}

// hideSidebarButton
#sidebarHandler {
  margin-right: 19px !important;
  margin-top: 31px !important;
  right: 1px !important;
}

#hideSidebarButton {
	background-color: $color-primary-light;
  background-image: none !important;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
  box-shadow: inset -70px 0px 40px -80px rgba(0,0,0,0.2);
  height: 60px !important;
  margin-left: -5px;
  overflow: hidden;
  transform: translateY(-40px);
  transition: all 0.5s;
  top: 400px;
  width: 25px !important;

  &::before{
    content: '';
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    right: -10px;
    top: calc(50% - 8px);
    transition: all 0.25s;
  }

  &:hover {
    background-color: $color-primary;

    &::before {
      right: calc(50% - 4px);
    }
  }
}
#content #hideSidebarButton::before {
  border-left: 7px solid $white;
  border-right: 0;
}
#content.sidebar_hidden #hideSidebarButton::before {
  border-left: 0;
  border-right: 7px solid $white;
}

// Plugin: Redmine Silencer
p.plugin_redmine_silencer {
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}

form.edit_issue input[type='checkbox'] + label {
  font-size: 0.9rem;
  position: relative;
  top: 1px;
}

// Plugin: Agile
.agile-board {
  .issue-card {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-top: 7px solid $gray-light;
    border-bottom: 5px solid $gray-light !important;
    border-radius: 3px;
    background-color: $gray-text !important;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding: 0;
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: $box-shadow-hover;
    }
  }

  .fields {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .project {
      background-color: $gray-text;
      border: 0;
      color: $white;
      flex-grow: 1;
      font-size: 0.8rem;
      margin: 0;
      order: 2;
      padding: 0 5px 0 0;
      text-align: right;
    }

    .issue-id {
      color: $white;
      flex-grow: 20;
      font-size: 0.8rem;
      order: 1;

      & > strong:first-of-type {
        display: inline-block;
        font-weight: normal;
        padding-left: 5px;
      }
      .hours {
        font-size: 0.8rem;
        color: rgba($white, 0.5);
      }
    }

    .name {
      background-color: $gray-light !important;
      display: block;
      flex-basis: 100%;
      order: 3;
      padding: 5px 5px 0;

      a {
        color: $gray-text;
        font-weight: normal;

        &:hover {
          color: $color-primary;
        }
      }
    }

    .attributes {
      background-color: $gray-light !important;
      color: $gray-medium;
      flex-basis: 100%;
      font-size: 0.8rem;
      order: 4;
      padding: 0 5px;

      b::before {
        content: '› ';
      }
    }

    .info {
      border: 0;
      margin: 0;
      padding: 0 5px;
    }
    .last_comment {
      background-color: $gray-light;
      display: block;
      order: 50;
      padding-top: 10px;
    }
    .thumbnail {
      background-color: $gray-light;
      background-position: 5px 0;
      background-size: contain;
      height: 60px;
      margin: 0;
      order: 70;
      width: 100%;
    }
    .description {
      background-color: $gray-light;
      display: block;
      order: 60;
      width: 100%;
    }

    .assigned-user {
      background-color: $gray-light !important;
      display: block;
      flex-basis: 100%;
      order: 5;
      padding-top: 2px;

      .user a {
        background-color: $color-primary-person;
        border-radius: 0.81rem;
        box-sizing: border-box;
        color: $white;
        display: inline-block;
        font-size: 0.8rem;
        min-width: 3.125rem;
        padding: 0 10px;
        text-align: center;
        transition: all 0.3s;

        &:hover {
          background-color: $gray-text;
        }
      }
    }

    .quick-comment {
      background-color: $gray-light;
      margin: 0;
      order: 100;
      padding: 5px 5px 0;

      .wiki-edit {
        margin-bottom: 5px;
      }
      a {
        display: inline-block;
        position: relative;
        top: -3px;

        :hover {
          color: $gray-text;
        }
      }
    }
  }

  tr.swimlane:hover {
    background-color: rgba($color-primary, 0.02) !important;
  }

  .context-menu-selection {
    &:hover {
      background-color: $gray-text !important;
    }

    .name a {
      color: $color-primary !important;
    }
    .attributes {
      color: $gray-medium !important;
    }
    .project {
      color: $white !important;
    }
  }

}

// UI Dialog
.ui-dialog-titlebar {
  padding: 0.5rem;
  background: $gray-text !important;
}
.ui-dialog-titlebar-close {
  background: $white !important;
  border: 0 !important;
  color: $gray-text;
  margin-right: 8px !important;

  &:hover {
    border: 0;
  }

  .ui-icon-closethick {
    filter: grayscale(100%);
  }
}

// Misc
.block-receiver {
  border: 0 !important;
}