#sidebarHandler {
  margin-right: 19px !important;
  margin-top: 31px !important;
  right: 1px !important;
}

#hideSidebarButton {
	background-color: $color-primary-light;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
  box-shadow: inset -70px 0px 40px -80px rgba(0,0,0,0.2);
  transform: translateY(-40px);
  transition: all 0.5s;
  margin-left: -7px;
  top: 312px;

  background-image: none !important;
  width: 27px !important;
	height: 60px !important;

  &:hover {
    background-color: $color-primary;
  }
}