$color-primary: #0288d1;
$color-primary-light: rgba($color-primary, 0.15);

$gray-dark: #202020;
$gray-text: #484848;
$hotpink: #ff3264;

$color-priority-5: #B00;
$color-priority-6: #D00;
$color-priority-7: #F00;