$fontstack: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$fontstack-mono: "Roboto-Mono", monospace;

$color-primary: #0288d1;
$color-primary-light: rgba($color-primary, 0.15);
$color-primary-person: #8CCAEB;

$white: white;
$gray-background: #f7f7f7;
$gray-light: #ebe9e9;
$gray-medium: #888;
$gray-dark: #202020;
$gray-text: #484848;
$hotpink: #ff3264;

$color-priority-default: #8CCAEB;
$color-priority-5: #7045D1;
$color-priority-6: #E044A3;
$color-priority-7: #FF3455;
$color-priority-lowest: rgb(199, 208, 216);

$box-shadow-hover: 0 1px 6px -1px rgba(0, 0, 0, 0.4);