$color-primary: #0288d1;
$color-primary-light: rgba($color-primary, 0.15);

$white: white;
$gray-background: #f7f7f7;
$gray-light: #cccccc;
$gray-dark: #202020;
$gray-text: #484848;
$hotpink: #ff3264;

$color-priority-default: #9DB9D5;
$color-priority-5: #B00;
$color-priority-6: #D00;
$color-priority-7: #F00;
$color-priority-lowest: rgb(199, 208, 216);